html {
    height: 100%;
}

header {
    text-align: center;
    background: beige;
    margin-bottom: 100px;
}

body {
    background-color: white;
    text-align: center;
}

.table {
    display: inline-block;
    text-align: center;
}

footer {
    background: wheat;
}

.yellow {
    background-color: #eed235;
}

.white {
    background-color: white;
}